<section id="home">
	<greeting ng-if="!user"></greeting>
	<div ng-if="!user" id="intro-video">
		 <video loop autoplay no-controls class="hide-on-small-only" controls>
		    <source src="school.mp4" type="video/mp4">
		  </video>
	</div>
	  <ul ng-if="user" class="collection with-header">
	  	<li class="collection-header">
	  		<h1 id="dash" class="center title-font">Dashboard</h1>
	  	</li>
	    <li class="collection-item avatar">
	      <img src="{{user.picture}}" alt="" class="circle">
	      <span class="title">{{user.firstName}} {{user.lastName}}</span>
	      <p>Awesome Teacher</p>
	      <a href="#" ng-click="logout()" class="secondary-content"><span class="green-text">Logout</span></a>
	    </li>
	    <li class="collection-header">
	  		<h5>Classes</h5>
	  	</li>
	  	<li ui-sref="createClass" class="option collection-item avatar">
	      <i class="purple material-icons circle">assignment_ind</i>
	      <span class="purple-text center title">Create Class</span>
	      <p>Manage Content <br>
	         and Create Student Roster
	      </p>
	      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
	    </li>
	    <li ui-sref="viewClasses" class="option collection-item avatar">
	      <i class="orange material-icons circle">supervisor_account</i>
	      <span class="orange-text center title">View Classes</span>
	      <p>View or Update <br>
	         Current Classes
	      </p>
	      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
	    </li>
	    <li class="collection-header">
	  		<h5>Lessons</h5>
	  	</li>
	  	<li ui-sref="createLesson" class="option collection-item avatar">
	      <i class="cyan material-icons circle">assignment</i>
	      <span class="title cyan-text">Create Lesson</span>
	      <p>Add to a Course<br>
	         or Simply Share
	      </p>
	      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
	    </li>
	    <li class="option collection-item avatar">
	      <i class="pink material-icons circle">class</i>
	      <span class="title pink-text">View Lessons</span>
	      <p>View or Update<br>
	         Saved Lessons
	      </p>
	      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
	    </li>
	    <li class="collection-header">
	  		<h5>Questions</h5>
	  	</li>
	  	<li class="option collection-item avatar">
	      <i class="purple material-icons circle">library_add</i>
	      <span class="purple-text title">Create Question</span>
	      <p>by Standard</p>
	      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
	    </li>
	    <li class="option collection-item avatar">
	      <i class="orange material-icons circle">library_books</i>
	      <span class="orange-text title">Create Collection</span>
	      <p>of Questions</p>
	      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
	    </li>
	    <li class="option collection-item avatar">
	      <i class="cyan material-icons circle">view_module</i>
	      <span class="cyan-text title">Browse Questions</span>
	      <p>by Standard<br>
	      or by Grade Level</p>
	      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
	    </li>
	    <li class="option collection-item avatar">
	      <i class="pink material-icons circle">group_work</i>
	      <span class="pink-text title">Browse Collections</span>
	      <p>by Grade Level</p>
	      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
	    </li>
	  </ul>
	<front-page ng-if="!user"></front-page>
</section>
