* {
  box-sizing: flex-box;
}
body {
  background: no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


@font-face {
    font-family: titleFont;
    src: url(BLACKBOYSONMOPEDS.ttf);
}

@font-face {
    font-family: generalFont;
    src: url(Hyperness.ttf);
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
#race {
	margin-top: 50px;
}
#loader {
	img {
		margin-top: 5%;
		width: 20%;
		margin-left: 40%;
	}
	
}

#home {
	h5 {
		text-align: center;
	}
}

table {
	margin-bottom: 40px;
}
nav {
	.brand-logo {
		font-family: titleFont;
	}
	
}
.general {
	font-family: generalFont;
}
#main {
  padding-top: 60px;
  margin: 0 auto;
}

#greeting {
	margin-top: 100px;
	z-index: 99;
	position: absolute;
	font-family: generalFont;
	h1 {
		text-shadow:
	    -1px -1px 0 #000,
	    1px -1px 0 #000,
	    -1px 1px 0 #000,
	    1px 1px 0 #000; 
	}
}
#feature {
	padding: 40px;
}
#intro-video {
	overflow: hidden;
	margin-top: -80px !important;
	z-index: 1;
	height: 600px !important;
	video {
		height: 800px;
	}
	
}

#teacher-logo {
	margin-top: 7px;
	margin-left: 10px;
	width: 50px;
	height: 50px;
}
.main-button {
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 10px;
	border-style: solid;
	border-width: 5px;
	border-color: #2e7d32;
	border-radius: 5px;
	height: 60px;
	width: 60% !important;
	background-color: white;
	p {
		color: #2e7d32;
		font-size: 30px;
		margin-top: 5px;
	    
	}
}
#class-picture {
	width: 40%;
	margin-left: 30%;
}
.choices {
	color: green;
}
.choices:hover {
	color: black;
}
.bottom-border {
	margin-bottom: 100px;
}

.option {
	background-color: white;
}
.option:hover {
	background-color: #E7E7E7;
}

#front-page {
	img {
		margin-top: 20px;
	}
	h2 {
		font-family: generalFont;
		padding: 20px;
		margin-top: 40px;
	}
}

#devices {
	color: white;
	img {
		max-width: 100%;
	}
}
#features {
	background-color: white;

	

	  i {
	  	color: lightgreen;
		text-shadow:
	    -1px -1px 0 #000,
	    1px -1px 0 #000,
	    -1px 1px 0 #000,
	    1px 1px 0 #000; 
	}
	h4 {
		color: green;
		font-family: titleFont;
	}
	p {
		color: green;
		font-family: generalFont;
		font-size: 22px;
	}
}

.depth-one {
	font-size: 22px;
	color: purple !important;
	margin-top: 30px !important;
}
.depth-two {
	font-size: 18px;
	color: blue !important;
	margin-top: 10px !important;
}

.button-space {
	margin-top: 20px !important;
}

.title-font {
	font-family: generalFont !important;
}
#dash {
	color: #2e7d32;
}

.main-button:hover {
	background-color: black;
}
video::-webkit-media-controls {
  display: none !important;
}
video:hover::-webkit-media-controls {
  display: none !important;
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
